//===================================================
// FOOTER
// - Main Footer
// - Above Footer widgets
// - Footer Widgets
// - Above Footer Widgets
// - Footer bottom
//===================================================
//---------------------------------------------------
// - Main Footer
//---------------------------------------------------
#main-footer{
  font-family: $body-font-family;
  font-weight: $fw-regular;
  color: $color-white;
  background: $color-blue-zodiac;
  font-size: 18px;
  line-height: 1.1;
  border-top: 5px solid;
  border-image-source: linear-gradient(to right, $color-turquoise, $color-elm);
  border-image-slice: 1;

  a{
    @extend %linkAnimate;
    color: $color-silver;

    &:hover{
      color: $color-white;
    }
  }
}

//---------------------------------------------------
// - Above Footer widgets
//---------------------------------------------------
#et-above-footer-widgets{
  background: $color-black;
  padding: 27px 0 35px;
}

//---------------------------------------------------
// - Footer widgets
//---------------------------------------------------
#footer-widgets{
  padding: 20px 0 35px !important;

  .footer-widget{
    li{
      padding-left: 0;
      &:before{
        display: none;
      }
    }

    &:last-child{
      margin-bottom: 0 !important;

      @include media("<desktop"){
        margin-bottom: 0 !important;
      }

      @include media("<tablet"){
        margin-bottom: 0 !important;
      }
    }


    .fwidget {
      float: none;
      display: block;
      margin: 10px 0 !important;

      &:last-child{
        margin: 0 !important;
      }
    }

    .title{
      font-size: 13px;
      line-height: 1.4;
      margin-bottom: 0;
      padding-bottom: 28px;
    }
  }
}

//---------------------------------------------------
// - Footer bottom
//---------------------------------------------------
#footer-bottom{
  background: $color-blue-zodiac;
  padding: 8px 0 9px;

  @include media("<desktop"){
    padding: 15px 0 9px;
  }

  .bottom-nav {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -10px;

    li{
      padding: 0 10px;
      font-weight: $fw-regular;
      font-size: 12px;
      line-height: 1.1;
    }
  }

  .footer-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    @include media("<desktop"){
      flex-direction: column;
    }
  }

  #footer-info{
    color: $color-white-smoke;
    font-size: 12px;
    line-height: 1.1;
    padding-bottom: 0;

    @include media("<desktop"){
      text-align: center;
      padding: 20px 10px 11px;
    }
  }
}

//social icons
#footer-bottom{

  .bottom-nav{
    font-size: 24px;
    line-height: 1.1;

    @include media("<tablet"){
      text-align: center;
    }

    .menu-item{
      margin: 0;

      a {
        @extend %linkAnimate;
        color: $color-white;
        display: block;
        font-size: 16px;
        margin: 0;

        &:hover {
          color: $color-elm;
          opacity: 1;
        }
      }
    }
  }

}
