//======================================================================
// BLOG
//======================================================================

.blog-loading{
	opacity:.5 !important;
	pointer-events:none;
}

//-----------------------------------------------------
// - Filters
//-----------------------------------------------------
.blog-filter-section{
	margin-bottom:30px;

	.reset-row{
		text-align:right;
	}

	.filters-wrapper{
		margin: 0 -10px;
		
		.filter{
			float:left;
			width:20%;
			padding: 0 10px;
		}
	}
}

//-----------------------------------------------------
// - Posts
//-----------------------------------------------------
.post-items{
	.post-item{
		margin-bottom:30px;

		&:last-child{
			margin-bottom:0;
		}

		h2{
			font-size:30px;
		}
		
	}
}

//-----------------------------------------------------
// - Posts
//-----------------------------------------------------
.show-more-wrapper{
	.et_pb_button{
		display: block;
    	max-width: 300px;
    	margin: 30px auto;
	}
}