//======================================================================
// Home Banner
// - Default
//======================================================================

//-----------------------------------------------------
// - Default
//-----------------------------------------------------
.contact-section {
    
    .et-pb-contact-message {
        color: $color-error;
        font-weight: $fw-semi-bold;
    }

    .et_pb_contact_right {
        color: $color-white;
    }
}