//======================================================================
// Right Sidebar
// - Grid
// - Overlay Color
//======================================================================
//-----------------------------------------------------
// - Grid
//-----------------------------------------------------

.et_right_sidebar #main-content{
  .container{
    &:before{
      display: none;
    }
  }

  #left-area{
    @include media(">=desktop"){
      width: 68.191%;
      padding-bottom: 23px;
      padding-right: 30px;
    }
  }

  #sidebar {
    @include media(">=desktop"){
      width: 31.809%;
      padding-left: 0 !important;
    }
  }
}