//======================================================================
// CUSTOM CSS STYLES
// - Default
// - Label
// - Buttons
// - Fields
// - Errors
// - Date picker
//======================================================================

//-----------------------------------------------------
// Default
//-----------------------------------------------------
.clear{
  clear: both !important;
}
////----- Core Containers
.gform_heading,
.gform_body,
.gform_footer {
  clear: both;
  padding-bottom: 20px;
}

////----- Fields Container
ul.gform_fields {
  @extend %clearfix;
  list-style: none;
  margin: 0 -10px !important;
  padding: 0 !important;
  text-align: left;
}

////----- Field Containers and their Contents
li.gfield {
  overflow: hidden;
  padding: 0 10px !important;

  &.gform_hidden {
    display: none !important;
  }
}
.ginput_container {
  padding: 0;
  margin: 0 0 10px;

  > span {
    margin-bottom: 10px;

    &:last-of-type{
      @include media("<tablet"){
        margin-bottom: 10px;
      }
    }
  }

  input,
  select,
  textarea {
    &.large {
      width: 100%;
    }
    &.medium {
      width: 66%;
    }
    &.small {
      width: 33%;
    }
  }

  &.ginput_complex{
    @extend %clearfix;
    padding: 0;
    margin-bottom: 0 !important;
    .ginput_left,
    .ginput_right{
      @include media("<tablet"){
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

}
label.gfield_label {
  display: inline-block;
  padding-bottom: 10px;
  margin: 0;

  .left_label & {
    float: left;
    width: 25%;
  }
  .right_label & {
    float: right;
    width: 25%;
  }
}

.gfield_required {
  padding-left: 5px;
}

////----- Checkboxes and Radios
ul.gfield_checkbox,
ul.gfield_radio {
  list-style: none;
  padding: 0;
  input {
    margin-right: 10px;
    position: relative;
    top: -1px;
  }

}
ul.gfield_radio {
  input {
    margin-left: 2px;
  }

  span.jcf-radio{
    margin: -3px 5px 0 0;;
  }
}

ul.gfield_checkbox{
  span.jcf-checkbox{
    margin: -3px 5px 0 0;
  }
}

.li-inline-input{
  ul.gfield_checkbox,
  ul.gfield_radio{
    >li{
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }
}

////----- Section Break
.gsection {
  h2 {
    border-bottom: 3px solid black;
    padding-bottom: 15px;
  }
}

////----- Page Break
.gf_progressbar_wrapper {
  padding-bottom: 15px;
}
.gf_progressbar {
  background: gray;
}
.gf_progressbar_percentage {
  background: red;
  padding: 5px 10px;
  text-align: right;
}

////----- Time Field
.gfield_time_hour, .gfield_time_minute, .gfield_time_ampm {
  display: inline;
  display: inline-block;
  vertical-align: top;
}
.gfield_time_hour, .gfield_time_minute {
  label {
    display: inline;
  }
}
.gfield_time_ampm {
  vertical-align: top;
}

////----- Validation and Errors
.validation_error {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 15px;
  color: $color-error;
}

li.gfield {
  &.gfield_error {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    label.gfield_label {
      font-weight: bold;
    }

    .validation_message {
      margin-top: 0;
      font-weight: $fw-bold;
      letter-spacing: normal;
      padding: 15px 0 22px !important;
      font-size: 12px;
      line-height: 1.1;
      color: $color-error;
    }

    .ginput_container.ginput_complex{
      padding: 0;

      + .validation_message{
        padding-top: 0 !important;
        position: relative;
        padding-bottom: 15px !important;
        top: -7px;
      }
    }

    .ginput_container{
      margin-bottom: 0;
    }

  }
  &.gfield_contains_required {

  }
}

.gform_validation_container {
  display: none;
}

////----- CSS Ready Classes
.ginput_full {
  display: block;
  input, select, textarea {
    margin-bottom: 5px;
    width: 100%;
  }
  label {
    display: block;
  }
}
.ginput_left {
  float: left;
  padding-right: 10px;
  width: 50%;
  @include media("<tablet"){
    width: 100%;
  }
  input, select, textarea {
    width: 100%;
  }
  label {
    display: block;
  }
}
.ginput_right {
  float: right;
  width: 50%;
  padding-left: 10px;

  @include media("<tablet"){
    width: 100%;
  }
  input, select, textarea {
    margin-bottom: 5px;
    width: 100%;
  }
  label {
    display: block;
  }
}

//----- Layout Columns
li.gf_left_half {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 50%;
}
li.gf_right_half {
  clear: none;
  float: right;
  padding-bottom: 10px;
  width: 50%;
}
li.gf_left_third {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 33%;
}
li.gf_middle_third {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 34%;
}
li.gf_right_third {
  clear: none;
  float: right;
  padding-bottom: 10px;
  width: 33%;
}
li.gf_first_quarter {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 25%;
}
li.gf_second_quarter {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 25%;
}
li.gf_third_quarter {
  clear: none;
  float: left;
  padding-bottom: 10px;
  width: 25%;
}
li.gf_fourth_quarter {
  clear: none;
  float: right;
  padding-bottom: 10px;
  width: 25%;
}

@media screen and (max-width:480px){
  li {
    &.gf_left_half,
    &.gf_right_half,
    &.gf_left_third,
    &.gf_middle_third,
    &.gf_right_third,
    &.gf_first_quarter,
    &.gf_second_quarter,
    &.gf_third_quarter,
    &.gf_fourth_quarter {
      width: 100%;
    }
  }
}

//----- List Columns
.gf_list_2col {
  ul.gfield_checkbox,
  ul.gfield_radio {
    li {
      float: left;
      padding-bottom: 10px;
      width: 50%;
    }
  }
}
.gf_list_3col {
  ul.gfield_checkbox,
  ul.gfield_radio {
    li {
      float: left;
      padding-bottom: 10px;
      width: 33%;
    }
  }
}
.gf_list_4col {
  ul.gfield_checkbox,
  ul.gfield_radio {
    li {
      float: left;
      padding-bottom: 10px;
      width: 25%;
    }
  }
}
.gf_list_5col {
  ul.gfield_checkbox,
  ul.gfield_radio {
    li {
      float: left;
      padding-bottom: 10px;
      width: 20%;
    }
  }
}
.gf_list_inline {
  ul.gfield_checkbox,
  ul.gfield_radio {
    li {
      display: inline-block;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
}

@media screen and (max-width:480px){
  .gf_list_2col,
  .gf_list_3col,
  .gf_list_4col,
  .gf_list_5col {
    ul.gfield_checkbox,
    ul.gfield_radio {
      li {
        width: 100%;
      }
    }
  }
}

//-----------------------------------------------------
// Coupon
//-----------------------------------------------------
.gform_wrapper{

  label[for^="gf_coupon_code_"] + .ginput_container {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .gf_coupon_code{
    padding-right: 100px !important;
  }

  input#gf_coupon_button.button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background:$color-black;
    color: $color-white;
    padding: 13px;
  }

  img#gf_coupon_spinner {
    position: absolute;
    top: 5px;
    right: 6px;
  }
}

//======================================================================
// credit card
//======================================================================

.gform_wrapper{

  .gform_card_icon_container{
    @extend %clearfix;
  }

  div.gform_card_icon {
    margin-right: 4px;
    text-indent: -9000px;
    background-image: url('#{$images-path}/gf-creditcard-icons.png');
    background-repeat: no-repeat;
    width: 34px;
    height: 30px;
    float: left;
    background-size: 324px auto;
    background-position: 0px -3px;
  }

  .gform_card_icon_container.gform_card_icon_style1{
    div.gform_card_icon.gform_card_icon_discover {
      background-position: -109px -3px;
    }

    div.gform_card_icon.gform_card_icon_mastercard {
      background-position: -37px -3px;
    }

    div.gform_card_icon.gform_card_icon_visa {
      background-position: -74px -3px;
    }

  }

  .ginput_container_creditcard{
    @extend %clearfix;

    span.ginput_card_security_code_icon {
      display: none;
    }

    .ginput_full{
      clear: both;
      display: block;
    }

    .ginput_cardextras{
      @extend %clearfix;
      margin: 0;

      display: block;

      .ginput_cardinfo_left{
        margin: 0 0 10px;
        width: 50%;
        float: left;
        padding-right: 10px;
        display: block;

        @include media("<tablet"){
          width: 100%;
          padding-right: 0;
        }

      }

      .ginput_cardinfo_right{
        margin: 0;
        width: 50%;
        padding-left: 10px;
        float: right;
        display: block;

        @include media("<tablet"){
          width: 100%;
          padding-left: 0;
        }
      }

      .ginput_card_expiration_container{
        @extend %clearfix;
        display: block;

        .jcf-select{
          width: 47%;
          float: left;
          height: 58px;

          @include media("<tablet"){
            width: 100%;
            margin:0 0 10px;
          }

          &.jcf-select-ginput_card_expiration_year{
            float: right;

            @include media("<tablet"){
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }

  }

}

//-----------------------------------------------------
// Label
//-----------------------------------------------------
.gform_wrapper{

  .gfield-label-none{
    .gfield_label{
      display: none !important;
    }
  }

  .complex-field-label-none{
    .ginput_complex{
      label{
        display: none !important;
      }
    }
  }

}

//-----------------------------------------------------
// Buttons
//-----------------------------------------------------
.gform_wrapper .gform_footer{
  @extend %clearfix;
  margin: 0 -10px;
}

.gform_button,
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit]{
  @include border-radius(0);
  background-color: transparent;
  color: $color-carribean;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  line-height: 1.208em !important;
  padding: 21px 20px 19px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  max-width: 540px;
  text-align: center;
  border-width: 2px;
  border-style: solid;

  &:hover{
    padding: 21px 20px 19px;
    background-color: $color-black;
    background-color: rgba($color-black, 0.16);
    border-color: $color-carribean;
  }

  &:after{
    display:none;
  }

}

//-----------------------------------------------------
// Fields
//-----------------------------------------------------
.gform_wrapper{
  li.gfield{

    @include placeholder(){
      opacity: 0.6;
    }

    .jcf-option-gf_placeholder{
      opacity: 0.6;
    }

    label{
      color: $body-color;
      line-height: 1.4;
      font-weight: $fw-regular;

      &.gfield_label{
        font-weight: $fw-bold;
      }
    }

    &.gsection{
      margin-left: auto !important;
      margin-right: auto !important;
    }

    @include fields{
      display: block;
      width: 100% !important;
      color: $body-color;
      font-weight: $fw-light;
      background-color: transparent;
      border-radius: 0;
      margin: 0;
      padding: 10px 20px !important;
      height: 47px;
      border: 1px solid $color-silver;
      font-size: 15px !important;
      line-height: 1.2 !important;
    }

    textarea{
      height: 200px;
      resize: vertical;
      overflow: auto;
    }

    .jcf-select{
      height: 47px;
      margin: 0 !important;
      border: 1px solid $color-silver;
      width: 100%;
      background: transparent;

      .jcf-select-text {
        color: $body-color;
        font-size: 15px;
        line-height: 1.2;
        padding: 14px 50px 14px 20px;
      }

    }
  }

}

//-----------------------------------------------------
// Names
//-----------------------------------------------------

//-----------------------------------------------------
.ginput_container.ginput_complex.ginput_container_name{
  margin: 0 -10px;
  @extend %clearfix;

  > span {
    width: 25%;
    display: block;
    float: left;
    padding: 0 10px;

    @include media("<tablet"){
      width: 100%;
    }
  }

  &.gf_name_has_2{
    > span {
      width: 50%;

      @include media("<tablet"){
        width: 100%;
      }
    }
  }
}



//-----------------------------------------------------
// Address
//-----------------------------------------------------
.ginput_container.ginput_complex.ginput_container_address{
  .address_city,
  .address_state,
  .address_zip{
    float: left;
    width: percentage(4/12);
    @include media("<tablet"){
      width: 100%;
    }
  }

  .address_state{
    padding-left: 10px;
    padding-right: 10px;

    @include media("<tablet"){
      padding-left: 0;
      padding-right: 0;
    }
  }

  .address_zip{
    padding-left:10px;
    padding-right: 0;

    @include media("<tablet"){
      padding-left: 0;
      padding-right: 0;
    }
  }
}

//
// Date Picker
//---------------------------------------------

.gform_wrapper{
  li.gfield{
    .ginput_container_date{
      position: relative;

      input.datepicker {
        padding-right: 47px !important;
      }

      img.ui-datepicker-trigger {
        position: absolute;
        right: 17px;
        top: 17px;
        width: 17px;
      }
    }
  }
}



/*
----------------------------------------------------------------

Gravity Forms Date Picker Styles
http: //www.gravityforms.com
updated: January 31, 2014 3:32 PM

Customized styles for the jQuery UI Datepicker 1.9.2
copyright 2012 jQuery Foundation and other contributors
Released under the MIT license.
http://jquery.org/license
some styles courtesty of http://www.hongkiat.com/

Gravity Forms is a Rocketgenius project
copyright 2008 - 2014 Rocketgenius Inc.
http: //www.rocketgenius.com

NOTE: DO NOT EDIT THIS FILE! MAKE ANY MODIFICATIONS IN YOUR
THEME STYLESHEET. THIS FILE IS REPLACED DURING AUTO-UPDATES
AND ANY CHANGES MADE HERE WILL BE OVERWRITTEN.

If you need to make extensive customizations,
copy the contents of this file to your theme
style sheet for editing. Then, go to the form
settings page & set the 'output CSS' option
to no.

----------------------------------------------------------------
*/

.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}

.ui-datepicker-header {
  background-color: #666; /* set the header background color */
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  min-height: 30px !important;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #666;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-title select {
  margin-top: 2.5%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url('../images/datepicker/arrow.png');
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background: #f7f7f7;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background: linear-gradient(to bottom,  #f7f7f7 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  text-align: center;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
  padding: 0;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWRlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
  background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: linear-gradient(to bottom,  #ededed 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
  background: #FFF2AA; /* set the active date background color */
  border: 1px solid #c19163; /* set the active date border color */
  color: #666; /* set the active date font color */
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  text-shadow: 0px 1px 0px #FFF;
  filter: dropshadow(color=#FFF, offx=0, offy=1);
  position: relative;
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}

td.ui-datepicker-unselectable.ui-state-disabled {
  background-color: #d7d7d7;
}

table.ui-datepicker-calendar {
  margin: 0 0 0 0 !important;
}

body div#ui-datepicker-div[style] {
  z-index: 9999 !important;
}

//
// Legacy Update
//---------------------------------------------
.gform_legacy_markup_wrapper div.validation_error{
  border-left:none !important;
  border-right:none !important;
  @include border-radius(0 !important);
  padding:21px 0;

  .gform_submission_error{
    font-size:1em !important;
    padding-bottom:0;

    &:before{
      display:none;
    }
  }

  .gform-icon{
    display:none;
  }
}

.gform_wrapper {
  .gform_validation_errors{
    background:transparent !important;
    border:none !important;
    @include border-radius(0 !important);
    @include box-shadow( none !important );
    padding:16px  30px!important;

    >h2{
      padding:0;
      font-size:16px !important;

      .gform-icon{
        display:none !important;
      }
    }
  }
}

.gform_wrapper .gfield_validation_message, 
.gform_wrapper .validation_message{
  background:transparent !important;
  border:none !important;
  font-size:16px !important;
}