//======================================================================
// Header Mobile
// - Grid
// - Default
// - menu item has children
// - sub-menu
// - fixed-nav
//======================================================================
//-----------------------------------------------------
// - Grid
//-----------------------------------------------------

#main-header{
  @include media("<desktop-bootstrap"){
    position: fixed !important;
  }

  #et_mobile_nav_menu{
    @include media("<desktop-bootstrap"){
      display: block !important;
    }

  }

  #top-menu{
    @include media("<desktop-bootstrap"){
      display: none !important;
    }
  }
}

#et-secondary-nav{
  @include media("<desktop-bootstrap"){
    display: none !important;
  }
}

//-----------------------------------------------------
// - Default
//-----------------------------------------------------
.et_header_style_left .mobile_menu_bar{
  height: 26px;
  width: 30px;
  @include animation(transform, 0.5s, ease-in-out);
  margin: 27px 0 !important;
  padding: 1px 0 !important;
  cursor: pointer;
  top: -8px;

  &:before,
  &:after{
    display: none;
  }



  .bar-icon{
    @include animation(transform, 0.5s, ease-in-out);
    padding-bottom: 0 !important;
    width: 100% !important;
    height: 4px;
    background: $color-black;
    display: block;
    margin-top: 10px;
    border-radius: 20;

    &:before,
    &:after{
      @include animation(transform, 0.5s, ease-in-out);
      content: " ";
      font-family: $body-font-family;
      position:absolute;
      width: 100%;
      height: 4px;
      background: $color-black;
      opacity:1 !important;
      @include transform(none);
      left:0;
      border-radius: 20px;
    }

    &:before {
      top: 0;
    }

    &:after {
      top: 23px;
    }
  }

}

.et_header_style_left .opened{
  .mobile_menu_bar{
    .bar-icon {
      background: transparent;

      &:before,
      &:after{
        top: 12px;
      }

      &:before {
        @include transform(rotate(45deg));
      }

      &:after {
        @include transform(rotate(135deg));
      }
    }
  }
}

.et_mobile_menu_custom{
  @include box-shadow(0 2px 5px rgba(0,0,0,.3));
  display: none;
  visibility: visible;
  position: absolute;
  z-index: 9999;
  left: -5.5%;
  width: 111%!important;
  padding: 0 0 5px;
  border-top: none;
  opacity: 1;
  background: $color-white;
}

.et_mobile_menu{
  border-top: 5px solid;
  border-image-source: linear-gradient(to right, $color-turquoise, $color-elm);
  border-image-slice: 1;
  @include transform(translateX(-50%));
  @include box-shadow( 0 16px 16px rgba(10,10,10,.2) );
  padding: 0 6.5% 0!important;
  width: 115%;
  left: 50%;
}

//default
#et_mobile_nav_menu{
  li{
    ul{
      padding: 0;
      margin: 0;
    }

    a{
      font-weight: $fw-regular;
      color: $color-black;
      border-bottom: none;
      padding: 5px;

      &:hover{
        color: $link-hover-color;
        opacity: 1;
        background-color: transparent;
      }
    }

    &.active{
      >a{
        color: $link-hover-color;
      }
    }
  }
}

//custom menu
/*
#et_mobile_nav_menu{

  li{
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    width: 100%;

    ul{
      padding: 0;
      margin: 0;
    }

    a{
      display: block;
      position: relative;
      font-weight: $fw-regular;
      color: $color-black;
      padding: 13px 24px 12px;

      &.show-sub-menu,
      &:hover{
        color: $link-hover-color;
        opacity: 1;
        background-color: transparent;
      }
    }

    &.active{
      >a{
        color: $color-carribean;
      }
    }
  }

}
*/


//-----------------------------------------------------
//  - first set of menu item
//-----------------------------------------------------
#et_mobile_nav_menu{
  //default
  .et_mobile_menu > li{

    &:first-child {
      >a {
        padding-top: 20px;
      }
    }

    &:last-child {
      >a {
        padding-bottom: 20px;
      }
    }

    >a{
      font-weight:$fw-bold;
      text-transform:uppercase;
      padding: 8px 25px 8px;
    }
  }

  //custom menu
  .et_mobile_menu_custom > li{
     >a{
       font-weight:$fw-bold;
       text-transform:uppercase;
       color: $color-black;
       padding: 12px 25px 12px;

       &.show-sub-menu,
       &:hover{
         color: $link-hover-color;
         background: $color-black;
       }
     }

     >.sub-menu{
       @include box-shadow(inset 0px 1px 5px 2px rgba(0,0,0,0.3));
       margin: 0 -5px;
       padding: 6px 20px 10px;
       display: block!important;
     }
  }

}

//-----------------------------------------------------
// sub-menu
//-----------------------------------------------------
#et_mobile_nav_menu{
  //default menu
  .et_mobile_menu{
    .sub-menu{
      margin: 0;
      padding: 0;

      li{
        margin-left: 0;
        padding-left: 30px;
      }

    }
  }

  //custom menu
  .et_mobile_menu_custom{
    .sub-menu{
      background: $color-black;
      display: none;
      margin: 0;
      padding: 0 5px 0 30px;

      li{
        margin-left: 0;
      }

    }
  }
}