//======================================================================
// HEADER
// - Top Menu
// - Main menu
// - Main menu - Fixed Header
// - Has Children
//======================================================================

//-----------------------------------------------------
// Default
//-----------------------------------------------------
#et-info,
#et-secondary-menu>ul>li a {
  padding-bottom: 0;
}

//-----------------------------------------------------
// Top Menu
//-----------------------------------------------------
#top-header{
  background: $color-white;
  font-size: 14px;

  .container{
    max-width: 1336px !important;
    padding-top: 0;
    font-weight: $fw-light;
  }

  ul{
    margin-bottom: 0;
  }

  a{
    @extend %linkAnimate;
    color: $color-black;
  }

  li{
    &.current-menu-item,
    &.current-menu-ancestor,
    &.current-menu-parent,
    &:hover{
      >a{
        color: $link-hover-color;
        opacity: 1 !important;
      }
    }
  }

  #et-secondary-nav{
    padding-top: 17px;

    li{
      margin-right: 0;
    }

    >li {
      margin-right: 34px;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

//-----------------------------------------------------
// Main menu
//-----------------------------------------------------
#main-header{
  margin: 0;
  @include box-shadow(none !important);

  .container{
    max-width: 1336px !important;
    position: relative;
  }

  .logo_container{
    left: 0;
    z-index: 3;
    width: 250px;

    @include media("<desktop-bootstrap"){
      width: 50%;
      z-index: 3;
    }
  }

  #logo {
    max-height: 100%;
    height: auto !important;
    width: auto;
    left: -5px;
    position: relative;
    max-width: 50% !important;

    @include media("<desktop-bootstrap"){
        max-width: 50%!important;
        padding-top: 12px;
        top: -5px;
        max-height: 80%;
    }
  }

  #et-top-navigation{
    font-weight: $fw-regular;
    z-index: 2;
    position: relative;

    @include media("<desktop-bootstrap"){
      width: 100%;
      z-index: 1;
      padding-top: 15px;
    }

    ul{
      margin-bottom: 0;
    }

    .nav{

      li{
        font-size: 18px;
        line-height: 1.3;
        padding-right: 0;

        ul{
          background: $color-white;
          padding: 10px 0;

          >li{
            padding: 0;
            vertical-align: middle;
            display: block;
            width: 100%;
            margin: 0;

            >a{
              color: $color-blue-zodiac;
              font-weight: $fw-medium;
              font-family: $font-montserrat;
              width: 100%;
              padding: 10px;
              font-size: 14px;
              line-height: 1.3;
              display: block;

              &:hover{
                color: $color-astral;

                &:before {
                  transform-origin: 0 50%;
                  transform: scaleX(1);
                }
              }

              &:before {
                content: "";
                width: 100%;
                height: 5px;
                position: absolute;
                left: 0;
                top: 40px;
                background: $color-astral;
                pointer-events: none;
                transition: transform cubic-bezier(.76,.09,.215,1) .4s;
                transform-origin: 100% 50%;
                transform: scaleX(0);
                margin-top: -1px;
              }
            }

            .sub-menu{
              top: 100%;
              left: 0;
            }
          }
        }
      }

      a{
        @extend %linkAnimate;
        background: transparent;
        color: $color-blue-zodiac;
        font-weight: $fw-semi-bold;
        font-family: $font-montserrat;

        &:hover{
          color: $color-astral;
          opacity: 1;

          &:before {
            transform-origin: 0 50%;
            transform: scaleX(1);
          }
        }

        &:before {
          content: "";
          width: 100%;
          height: 5px;
          position: absolute;
          left: 0;
          top: 40px;
          background: $color-astral;
          pointer-events: none;
          transition: transform cubic-bezier(.76,.09,.215,1) .4s;
          transform-origin: 100% 50%;
          transform: scaleX(0);
          margin-top: -1px;
        }
      }

      li{
        &.current-menu-item,
        &.current-menu-ancestor,
        &.current-menu-parent{
          >a{
            color: $link-hover-color;

            &:before {
              content: "";
              width: 100%;
              height: 5px;
              position: absolute;
              left: 0;
              top: 40px;
              background: $color-astral;
              pointer-events: none;
              transition: transform cubic-bezier(.76,.09,.215,1) .4s;
              transform-origin: 0% 50%;
              transform: scaleX(1);
              margin-top: -1px;
            }
          }

          &.menu-item-home {
            >a{
              color: $color-blue-zodiac;
  
              &:before {
                display: none;
              }
            }
          }
        }
      }

      >li{
        padding-right: 14px;
        padding-bottom: 0;

        &:last-child{
          padding-right: 0;
        }

        >a{
          padding: 16px 0 46px !important;
        }
      }
    }

  }

}

//-----------------------------------------------------
// Main menu - Fixed Header
//-----------------------------------------------------
#main-header.et-fixed-header {
  @include box-shadow(0 0 7px rgba(0,0,0,.1)!important);

  #logo {
    max-width: 40% !important;
  }
}


//-----------------------------------------------------
// Has Children
//-----------------------------------------------------
#et-secondary-nav{
  .menu-item-has-children{
    >a:first-child{
      &:after{
        display: none !important;
      }
    }
  }
}

#top-menu{
  .menu-item-has-children{
    >a:first-child{
      &:after{
        display: none !important;
      }
    }
  }
}