//======================================================================
// Button
// - Default
// - on light background
// - On dark background
// - Big Button
//======================================================================
$button_padding: 11px;
$big_button_padding: 15px 24px;

// ---------------------------------------------------------
//  Default
//----------------------------------------------------------
.et_pb_button {
  @include media("<desktop"){
    max-width: 172px;
  }
}

.et_pb_button_module_wrapper{
  @include media("<desktop"){
    text-align:center;
  }
}


// ---------------------------------------------------------
//  on light background
//----------------------------------------------------------

/* default button style */
.et_pb_button,
.et_pb_module .et_pb_button,
.et_pb_contact_submit,
.et_pb_promo_button,
.et_pb_newsletter_button,
.et_pb_pricing_tablet_button,
.et_pb_bg_layout_light.et_pb_module.et_pb_button,
.et_pb_bg_layout_light .et_pb_button,
.et_pb_promo_button,
.et_pb_pricing_tablet_button,
.woocommerce-page a.button,
.woocommerce button.button,
.woocommerce .cart .button,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order,
.woocommerce div.product form.cart .button,
.woocommerce ul.products li.product .button,
.comment-form .form-submit .et_pb_button,
.woocommerce #content input.button, .woocommerce #content input.button.alt,
.woocommerce #respond input#submit, .woocommerce #respond input#submit.alt,
.woocommerce-page #content input.button, .woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit, .woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button, .woocommerce-page a.button.alt, .woocommerce-page button.button, .woocommerce-page button.button.alt,
.woocommerce-page button.button.alt.disabled, .woocommerce-page input.button, .woocommerce-page input.button.alt,
.woocommerce a.button, .woocommerce a.button.alt, .woocommerce button.button, .woocommerce button.button.alt,
.woocommerce button.button.alt.disabled, .woocommerce input.button, .woocommerce input.button.alt{
  @extend %linkAnimate;
  @include border-radius(0);
  //background-color: $color-black;
  //border-color: $color-black;
  background-image: linear-gradient(to right, $color-turquoise 0%, $color-elm 51%, $color-turquoise  100%);
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  color: $color-white;
  line-height: 1.208em !important;
  padding: $button_padding;
  position: relative;
  text-align: center;
  font-family:$font-montserrat;
  cursor: pointer;
  max-width: none;
  width: auto;
  min-width: 142px;
  transition: 0.5s;
  background-size: 200% auto;
  color: $color-white;            
  border-radius: 10px;
  border-color: transparent;

  &:hover{
    padding: $button_padding;
    background-position: right center;
    color: $color-white;
  }

  &:after{
    display:none;
  }

}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled, .woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled, .woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled,
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{
  padding: $button_padding;
  background-color: $color-black;
  border-color: $color-black;
  color: $color-white;
  opacity: .5;

  &:hover{
    padding: $button_padding;
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
    opacity: .5;
  }
}

// ---------------------------------------------------------
// On Dark background
//----------------------------------------------------------
.et_pb_bg_layout_dark .et_pb_button,
.et_pb_bg_layout_dark.et_pb_module.et_pb_button,
.et_pb_bg_layout_dark.et_pb_button{
  color: $color-black !important;
  background-color: $color-white;
  border-color: $color-white;

  &:hover{
    color: $color-white !important;
    background-color: $color-black;
    border-color: $color-black;
  }
}

// ---------------------------------------------------------
//  Big Button
//----------------------------------------------------------
.big-btn.et_pb_button,
.big-btn.et_pb_module.et_pb_button{
  padding: $big_button_padding;
  font-size: 13px;

  &:hover{
    padding: $big_button_padding;
  }
}