.acf-fields .acf-field.instruction-heading {
    padding: 20px 12px 5px;
}

.acf-field.instruction-heading .acf-label {
    margin: 0;
}

.acf-field.instruction-heading .acf-label label {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}

.acf-repeater.-row tr.acf-row > td {
    border-bottom: 6px solid #ccd0d4;
}
